# Laravel / Backend
/vendor/
/storage/*.key
/storage/logs/*
/bootstrap/cache/
/.env
.env.*

# Node / Frontend
/node_modules/
/dist/
/public/hot
/public/storage
/public/mix-manifest.json
/public/css/*.map
/public/js/*.map

# Common
.DS_Store
Thumbs.db
.idea
.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.tsbuildinfo

# Cypress (if using)
/cypress/videos/
/cypress/screenshots/
